<div class="home-links">
<h1> Check out the rosters! </h1>
  <h3><%= link_to "Conferences", conferences_path %><br></h3>
  <h3><%= link_to "Divisions", divisions_path %><br></h3>
  <h3><%= link_to "Teams", teams_path %><br></h3>
</div>
